---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

{% for recipe in site.data.recipes %}
  {% if recipe.name == page.title %}
	{% if recipe.intro %}
<p> {{ recipe.intro }}
	{% endif %}
	{% if recipe.site %}
You can find the <a href="{{ recipe.site }}">Original Recipe</a> here. </p>
	{% endif %}
    {% if recipe.name or recipe.instructions %}
<b>Mridu's Modifications:</b>
<br>
<br>
    {% endif %}
    {% if recipe.ingredients %}
<div class="card">
  <div class="container">
	<p><span style="font-weight: bold; color: #808080">Ingredients:</span></p>
	<ul>
	  {% if recipe.replace %}
	  <li> Replace </li>
	  {% endif %}
		<ul>
	  {% for ing_rep in recipe.replace %}
		  <li> <i> {{ing_rep[0]}} </i> with <b><i> {{ing_rep[1]}} </i></b></li>
	  {% endfor %}
		</ul>
	  {% if recipe.without %}
	  <li> Can do without </li>
	  {% endif %}
		<ul>
	  {% for ing in recipe.without %}
		  <li> <i> {{ing}} </i></li>	
	  {% endfor %}
		</ul>
	</ul>
  </div>
</div>
<br>
	{% endif %}
    {% if recipe.instructions %}
<div class="card">
  <div class="container">
	<p><span style="font-weight: bold; color: #808080">Instructions:</span></p>
	<ul>
	{% for instr in recipe.instructions %}
	  <li> {{instr}} </li>	
	{% endfor %}
	</ul>
  </div>
</div>
<br>
	{% endif %}

    {% if recipe.images %}
<br>
<div class="gallerycontainer">
	  {% for image in recipe.images %}
  <div class="mySlides">
      <img src="{{ image }}" style="width:100%">
  </div>
	  {% endfor %}

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

	  {% assign counter = 1 %}
  <div class="row">
	  {% for image in recipe.images %}
    <div class="gallerycolumn">
      <img class="demo cursor" src="{{ image }}" style="width:100%" onclick="currentSlide({{ counter }})" alt="{{ counter }} / {{ recipe.images.size }} ">
    </div>
	    {% assign counter = counter | plus:1 %}
	  {% endfor %}
  </div>
</div>
<script src="/assets/gallery.js"></script>
    {% endif %}
  {% endif %}
{% endfor %}
{{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
  ]</span>
</article>
